header { grid-area: h; }
nav    { grid-area: n; }
main   { grid-area: m; }
footer { grid-area: f; }
h2 {grid-area: h2; } 
center {grid-area: c; }
img { grid-area: i;}

body {
  display: grid;
  grid: " h   h   h  " 6em
        "h2   h2   h2 " 7em
        ".    .   . " 5px
        "n    .    . " auto
        "n    .    m " auto
        "n    .    m " auto
        "i    i    i" auto
        "f   f    f  " auto
        / 3fr 5fr 5fr;
}